@import "~@fluentui/react/dist/sass/References.scss";
:root {
  --level-1: #8dccad;
  --level-2: #f5cc7f;
  --level-3: #7b9fe0;
  --level-4: #f27c8d;
  --black: black;
}
.secoNews {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.welcome {
  text-align: center;
}

.welcomeImage {
  width: 100%;
  max-width: 420px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(
      --link
    ); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(
        --linkHovered
      ); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--black);
  cursor: pointer;
  font-weight: bold;
}
ol,
ul {
  list-style: none;
}
section {
  margin: 50px 0 100px;
  .container {
    text-align: center;
    font-family: "Inter", sans-serif;
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    .box {
      position: relative;
      padding: 20px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
      /* LEVEL-1 STYLES */
      &.level-1 {
        width: 50%;
        margin: 0 auto 40px;
        background: var(--level-1);
        &::before {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          width: 2px;
          height: 6vh !important;
          background: var(--black);
        }
        &.show {
          background-color: var(--black);
          display: none;
        }
      }
    }
    /* LEVEL-2 STYLES */
    .level-5-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .level-5-wrapper::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 25%;
      width: 50%;
      height: 2px;
      background: var(--black);
    }
    .level-8-wrapper::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 16%;
      width: 68.3%;
      height: 2px;
      background: var(--black);
    }
    .level-5-wrapper::after,
    .level-8-wrapper::after {
      display: none;
      content: "";
      position: absolute;
      left: -20px;
      bottom: -20px;
      width: calc(100% + 20px);
      height: 2px;
      background: var(--black);
    }

    .level-5-wrapper h1,
    .level-8-wrapper h1 {
      padding: 10px 0;
    }

    .level-5-wrapper li,
    .level-8-wrapper li {
      position: relative;
      padding-bottom: 10px;
    }

    .level-5-wrapper > li::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      height: 20px;
      background: var(--black);
    }
    .level-8-wrapper > li::before {
      content: "";
      position: absolute;
      bottom: 100%;
      left: 50.1%;
      transform: translateX(-50%);
      width: 2px;
      height: 20px;
      background: var(--black);
    }
    .level-5 {
      width: 91%;
      margin: 0 auto 40px;
      background: var(--level-2);
      padding-bottom: 15px;
    }

    .level-5::after {
      display: none;
      content: "";
      position: absolute;
      top: 50%;
      left: 0%;
      transform: translate(-100%, -50%);
      width: 20px;
      height: 2px;
      background: var(--black);
    }
    .level-8-wrapper h3 {
      padding: 10px 0;
    }
    .level-3-wrapper li {
      padding-bottom: 10px;
    }
    .level-8-wrapper li {
      padding-bottom: 10px;
    }
    .level-8-wrapper {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 20px;
      width: 100%;
      margin: 0 auto;
    }
    /* /* LEVEL-4 STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
    .level-4-wrapper {
      position: relative;
      width: 80%;
      margin-left: 5rem;
      ul {
        background-color: #7b9fe0;
        padding-bottom: 15px;
        h5 {
          font-size: 15px;
          margin-bottom: 10px;
        }
      }
    }

    .level-4-wrapper::before {
      content: "";
      position: absolute;
      top: -40px;
      left: -20px;
      width: 2px;
      height: calc(100% + 40px);
      background: var(--black);
    }

    .level-4-wrapper li + li {
      margin-top: 20px;
    }

    .level-4 {
      font-weight: normal;
      background: var(--level-3);
      padding: 10px;
    }

    .level-4::before {
      content: "";
      position: absolute;
      top: 32%;
      left: 0%;
      transform: translate(-100%, -50%);
      width: 20px;
      height: 2px;
      background: var(--black);
    }
  }
}
